/***********************************
            Demo 2
***********************************/
.header-bottom {
    .category-menu-content {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    .category:hover,
    .category.active {
        background-color: $primary-color;
    }
    .category {
        min-width: 124px;
        padding: 1.3rem 0 .9rem;
        transition: background-color .35s;
        .category-media {
            height: 0;
        }
        i {
            color: #fff;
            line-height: 0;
            font-size: 2.0625em;
        }
    }
    .category-name {
        color: $white-color;
        font-size: .875em;
        margin-bottom: 0;
        font-weight: 300;
        text-transform: none;
    }
}
.ls-m {
    letter-spacing: -.025em;
}
.category-menu-content.scrollable-solid::-webkit-scrollbar-thumb {
    background-color: #fff;
}
.intro-slide .banner {
    .floating {
        position: absolute;
    }  
    > figure img {
        min-height: 500px;
        object-fit: cover;
    }
} 
.intro-slide1 {
    .banner-content {
        left: 6.4%;
    }
    .banner-subtitle {
        font-family: $second-font-family;
        font-size: 3.125em;
    }
    span {
        position: relative;
        font-family: $font-family;
        &:before {
            position: absolute;
            z-index: -1;
            content: '';        
            width: 1.66em;
            height: 1.66em;
            left: 45%;
            top: -36%;
            background-color: rgba($color: #fa7646, $alpha: .2);
            border-radius:50%;
        }
    }
    .banner-title {
        font-size: 3.125em;
        color: $primary-color-dark;
    }
}
.intro-slide2 {
    position: relative;
    .banner-content {
        padding: 0 10px;
    }
    .banner-title {
        font-size:  11.25em;
        margin-top: -1rem;
        font-family: $second-font-family;
    }
    .banner-subtitle,
    .banner-price {
        font-size: 1.875em;
    }
    .floating-1 {
        bottom: 5%;
        left: 1%;
    }
    .floating-2 {
        top: 5%;
        right: 1%;
    }
    @include mq(sm ,max) {
        .banner-title {
            font-size: 10em;
        }
    }
}
.intro-slide3 {
    position: relative;
    .banner-content {
        right: 6.7%;
        max-width: 90%;
    }
    .banner-title {
        font-size: 3.125em;
        color: $primary-color-dark;
    }
    .banner-content img {
        max-width: 28rem;
    }
    .floating {
        top: 10%;
        left: 12%;
    }
}
.intro-banner {
    img {
        object-fit: cover;
        min-height: 250px;
    }
    .banner-content{
        left: 9%;
        top: 14%;
    }
    span:first-child{
        font-size: 1.1334em;
        line-height: 1.8;
    } 
} 
//full banner
.full-banner {
    .floating {
        position: absolute;
        left: 33%;
        width: unset;
        z-index: -1;
        @include mq(lg, max) {
            opacity: .5;
            left: 45%;
        }
    } 
    > figure img {
        object-fit: cover;
        min-height: 55.8rem;
        @include mq(lg, max) {
            min-height: 90rem;
        }
    }
    .row {
        position: relative;
    }
    //banner-content
    .banner-content > *{
        max-width: 40.6rem;
    }
    @include mq(lg , max) {
        font-size: .95em;
    }
}
.under-sm {
    span:after {
        max-width: 6.1rem;
    }
}
.under-lg {
    span:after {
        max-width: 8.4rem;
    }
}
//banner-content-1
.banner-content-1 {
    .banner-subtitle {
        font-size: inherit;
        span {
            font-size: 1.125em;
            line-height: 3.9;
            letter-spacing: .1em;
        }
    }
    .banner-title {
        font-size: 2.5em;
    }
}
//banner-content-2
.banner-content-2 {
    right: -.5%;
    @include mq(sm ,max) {
        right: 0;
    }
    @include mq(lg) {
        > * {
            margin-left: auto;
        }
    }
    .banner-subtitle span {
        line-height: 3.1;
        &:after {
            border-color: #6dae4d;
        }
    }
    li {
        margin-bottom: 22px;
        color: $dim-color;
    }
    i {
        color: #6dae4d;
    }
}
//banner-second
.banner-second {
    img {
        min-height: 35rem;
        object-fit: cover;
    }
    .banner-content {
        right: 7%;
    }
    .banner-subtitle {
        font-family: $second-font-family;
        font-size: 1.875em;
        margin-bottom: -18px;
    }
    .banner-title {
        font-size: 2.5em;
    }
    span{
        position: relative;
        margin-bottom: -1px;
        line-height: 2.1;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0; 
            right: 0;
            border-bottom: 1px solid $primary-color;
        }
    }
    label {
        font-size: .6em;
    }
}
//deal-slider
.deal-slider {
    display: flex;
    flex-direction: column;
    @include mq(sm , max) {
        > .title {
            font-size: 1.75em;
        }
    }
}
.deal-wrapper {
    flex: 1;
    border: 1px solid $primary-color;    
    padding: 2rem;
    .owl-nav-top .owl-nav {
        top: -7.4rem;
        right: 11px;
        .owl-prev {
            left: -18px;
        }
        .owl-next {
            right: -40px;
        }
        i {
            font-size: 2.2rem;
        }
    }
    .product-details {
        padding: 3.1rem 0 1.4rem;
    }
}
.trend-deal-section .title {
    line-height: 2;
}
.blog-review {
    .with-quote {
        background-color: #fff7ec;
        @include mq( lg ) {
            padding-right: 7.5rem;
        }
        &:before {
            color: #fff;
            right: 17.5%;
        }
    }
    .post-list {
        img {
            min-height: 15rem;
        }
    } 
}  
.newsletter-section {
    padding: 3.2rem 0;
    .newsletter-title {
        font-weight: 400;
        color: $white-color;
    }
    p {
        opacity: .8;
    }
    input {
        background: #fff;
        padding: 1.1em 1.429em .9em;
    }
    .btn-dark {
        padding: 1.25em 2.65em .95em;
        @media (max-width: 420px) {
            padding: 1.25em 1em .95em;
        }
    }
}
//footer
.footer .social-links {
    color: #999;
    .social-link:last-child {
        margin-right: 0;
    }
}