<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coba Flex</title>
</head>
<style>
    body{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }
    .list{
        list-style: none;
        display: flex;
    }
    .list > li{
        margin-right: 2rem;
    }
</style>
<body>
    <nav>
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <ul class="list">
            <li>Home</li>
            <li>Profil</li>
            <li>About</li>
            <li>Setting</li>
        </ul>
    </nav>
</body>
</html>
