/* Demo 4*/

@include set (
	(
		base: (
            subtitle: (
                letter-spacing: .1em,
                color: $secondary-color,
                margin-bottom: 1.1rem,
            ),
        ),
        header: (
            middle: (
                padding-top: 2.8rem,
                padding-bottom: 2.7rem,
                logo: (
                    margin-left: 2px,
                    margin-bottom: 1px,
                )
            ),
            bottom: (
                justify-content: center,
                font-size: .875em,
                padding: 1rem 0 .5rem, //d-s
                color: $primary-color-dark,
                border-top: 1px solid $border-color,
                border-bottom: 0,
            ),
            main-nav: (
                margin: .3rem 1.5rem,
            ),
        ),
        footer: (
            background: $primary-color-dark,
            _link-active-color: #17D386,
            middle: (
                padding: 8rem 0 6.8rem,
                border-color: #393939,
                widget: (
                    body: (
                        icon: (
                            padding: 2.5px 0,
                        )
                    )
                )
            ),
            bottom: (
                padding: 2.6rem 0 2.2rem,
            ),
            copyright: (
                color: $body-color,
            ),
            about: (
                p: (
                    padding-right: 7rem,
                )
            )
        ),
        menu: (
            ancestor: (
                _gap: 2.9rem,
            ),
        ),
        category: (
            content: (
                padding: 1.7rem 0,
            )
        )
    )
);