/* Variables */

// 1. Colors
$primary-color: #ff9c28 !default;
$primary-color-dark: #222 !default;
$dim-color: #54524d !default;
$body-color: #777 !default;
$dark-color: #333 !default;   
$lighter-color: #e1e1e1 !default;
$grey-color: #999 !default;
$light-color: #ccc !default;
$white-color: #fff !default;
$black-color: #000 !default;
$border-color: #383838 !default;