/* -------------------------------------------
    Grid
---------------------------------------------- */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    
    > * {
        position: relative;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
    }    
}
.gutter-lg {
    margin-left: -2.25rem;
    margin-right: -2.25rem;
    > * {
        padding-right: 2.25rem;
        padding-left: 2.25rem;
    }
}
.gutter-no {
    margin-left: 0;
    margin-right: 0;
    > * {
        padding-right: 0;
        padding-left: 0;
    }
}

[class*="cols-"] > * {
    flex: 0 0 auto;
}

@for $i from 1 through 8 {
    .cols-#{$i} > * { width: #{ round( 100% / $i * 10000 ) / 10000 };  }
}

@media ( min-width: 480px ) {
    @for $i from 1 through 8 {
        .cols-xs-#{$i} > * { width: #{ round( 100% / $i * 10000 ) / 10000 };  }
    }
}
@media ( min-width: 576px ) {
    @for $i from 1 through 8 {
        .cols-sm-#{$i} > * { width: #{ round( 100% / $i * 10000 ) / 10000 };  }
    }
}
@media ( min-width: 768px ) {
    @for $i from 1 through 8 {
        .cols-md-#{$i} > * { width: #{ round( 100% / $i * 10000 ) / 10000 };  }
    }
}

@media ( min-width: 992px ) {
    @for $i from 1 through 8 {
        .cols-lg-#{$i} > * { width: #{ round( 100% / $i * 10000 ) / 10000 };  }
    }
}