/* Demo1 */

.banner1 {
    .banner-content {
        left: 21.9%;
    }
    img {
        min-height: 50rem;
        object-fit: cover;
    }
    .banner-subtitle {
        display: inline-block;
        font-size: 1.125em;
        letter-spacing: .2em;
        margin-bottom: 2.3rem;
    }
    .banner-title {
        font-size: 3.75em;
        margin-left: -3px;
    }
}
.banner2 {
    figure img {
        min-height: 50rem;
        object-fit: cover;
    }
    .banner-content {
        right: 21.9%;
        img {
            margin-top: .4rem;
            width: auto;
        }
    }
    .banner-title {
        font-size: 2.5em;
        line-height: 1.2;
    }
    .banner-price {
        position: absolute;
        bottom: 1rem;
        display: inline;
        font-size: 1.5em;
        .price {
            position: relative;
            font-size: 2em;
        }
        span {
            font-size: .375em;
        }
    }
}
.banner3 {
    img {
        min-height: 25rem;
        object-fit: cover;
    }
    .banner-content {
        left: 7.9%;
    }
    .banner-subtitle {
        margin-bottom: 1.2rem;
    }
    .banner-title {
        font-size: 2.5em;
    }
}
.product-tab-nav .tab-pane {
    padding: 1.9rem 0;
}
.benefit-section {
    overflow: hidden;
    .container {
        position: relative;
        padding-top: 8.7rem;
        padding-bottom: 5.6rem;
    }
    .img-back {
        position: absolute;
        top: 26%;
        left: 21%;
        width: 67.4rem;
    }
    .icon-box {
        margin-bottom: 7.8rem;
        i {
            color: #C4B687;
            font-size: 1.8em;
        }
        .icon-box-content {
            text-align: left;
        }
        .icon-box-title {
            font-size: 1.875em;
            margin-bottom: .3rem;
        }
        p {
            max-width: 30rem;
            line-height: 1.25;
        }
    }
    .icon-box-icon {
        margin-bottom: .8rem;
    }
}
.recent-section {
    .title {
        margin-bottom: 2.8rem;
    }
    .post {
        .post-content {
            line-height: 1.5; //d-s
            margin: 1.7rem 0 1rem; //d-s
        }
    }
    .row .title {
        font-size: 1.25em;
        font-weight: 400;
        padding-bottom: 1.5rem;
        color: $dim-color;
    }
}

// Responsive

@include mq(md) {
    .pos-right {
        text-align: right;
        .icon-box .icon-box-content {
            text-align: right;
        }
        p {
            margin-left: auto;
        }
    }
    .benefit-section,
    .recent-section {
        .title {
            font-size: 2.5em;
        }
    }
}
@include mq(md, max) {
    .intro-section .owl-theme .owl-nav.disabled+.owl-dots {
        position: relative;
        margin-top: -2.5rem;
    }
    .benefit-section .icon-box {
        text-align: center;
        .icon-box-content {
            text-align: center;
        }
        p {
            margin: 0 auto;
        }
    }
    .img-back {
        opacity: .4;
    }
}
@include mq(sm, max) {
    .banner1, .banner2 {
        .banner-content {
            left: 10%;
        }
    }
    .banner2 {
        figure img {
            object-position: 60%;
        }
    }
}