/* Demo 3
*/
@include set-default(
	(
		base: (
            _container-width: 1400px
        ),
        header: (
            top: (
                border-bottom: 1px solid $border-color-light
            ),
            middle: (
                padding-top: 2.7rem,
                padding-bottom: 2.9rem,
                logo: (
                    margin-bottom: -2px
                )
            ),
            bottom: (
                border-bottom: 1px solid $border-color-light,
                border-top: 1px solid $border-color-light,
                padding: 0,
                font-size: .875em,
                color: $primary-color-dark
            ),
            cart: (
                label: (
                    margin: 0 0 -.4rem 1rem
                )
            ),
            category: (
                toggle: (
                    padding: 1.9rem 2rem 1.5rem
                )
            ),
            sticky: (
                padding-top: 0,
                padding-bottom: 0
            ),
            main-nav: (
                margin: .5rem 1.5rem 0 .3rem
            )
        ),
        menu: (
            ancestor: (
                padding: 1.4rem 1rem 1.05rem //d-s
            )
        ),
        category-menu: (
            padding: .9rem 0 1rem
        ),
        product: (
            list-sm: (
                _image-width: 12.4rem
            )
        ),
        footer: (
            middle: (
                padding: 8.1rem 0 6.8rem,
                widget: (
                    title: (
                        color: $primary-color-dark
                    ),
                    list-item: (
                        color: $dim-color
                    )
                )
            ),
            bottom: (
                padding: 3.6rem 0 3.2rem
            )
        ),
        tabs: (
            pane: false
        )
    )
)