/* Demo 3 */

// Global
section .title {
    font-size: 1.75em;
}

// Header
.has-center {
    .header-center {
        flex: 0 0 calc( 200% / 3);
        margin: 0;
    }
    .hs-expanded {
        margin-left: 7.5rem;
        .btn-search {
            min-width: 3.5rem;
        }
    }
}

.header-bottom {
    .header-right i {
        font-size: 1.7em;
    }
    .category-toggle {
        width: 32.5rem;
        &::after {
            content: '\e910';
            position: absolute;
            right: 2.1rem;
            font-size: .714em;
        }
    }
    &.fixed {
        border: none;
    }
}

.main-nav {
    z-index: 1201;
    .menu>li>a {
        padding: 1.4rem 0 1.05rem;
    }
}

.submenu>a::after {
    right: .7rem;
    font-size: .8em;
}

header .p-icon-shipping-solid {
    margin-right: .8rem;
}

.shop .header-bottom {
    border-bottom: none;
}

.menu .megamenu .p-icon-arrow-right {
    bottom: -1px;
}

// Page Content
.banner {
    overflow: hidden;
    >figure img {
        object-fit: cover;
    }
}

.owl-dots-line {
    .banner>figure img {
        min-height: 36.5rem;
    }
    .owl-dots-container .owl-dot {
        &.active,
        &:hover {
            color: $primary-color;
        }
        &::after {
            border-bottom-color: $primary-color;
        }
    }
}

.banner1 {
    .banner-content {
        right: 6.5%;
    }
    .banner-title {
        font-size: 2.75em;
        line-height: 1.2;
    }
    .btn {
        padding: 1.38em 2.9em .98em;
    }
    .floating {
        top: -21%;
        left: -134%;
    }
}

.banner2 {
    .banner-content {
        bottom: 4.2rem;
        left: 5rem;
    }
    .banner-title {
        font-size: 2.5em;
        span {
            font-size: 1.25em;
        }
    }
}

.banner3 {
    .banner-content {
        z-index: 1;
        bottom: 7.2rem;
        left: 8.5%;
        width: 30.7%;
    }
    .banner-title {
        line-height: .9;
        font-size: 5em;
        z-index: 4;
    }
    h3 {
        font-size: 1.25em;
    }
}

.particle1 {
    top: 3rem;
}

.particle2 {
    z-index: -1;
    top: -16%;
    left: 44%;
}

.particle3 {
    z-index: -1;
    top: 60%;
    right: -10%;
}

.owl-dots-line .owl-dots-container {
    bottom: 6.5%;
}

.banner4 {
    .banner-content {
        width: 60%;
    }
    .banner-title {
        font-size: 3.75em;
    }
}

.banner5 {
    .banner-title {
        font-size: 3.75em;
    }
    span {
        padding: .6rem 1.1rem .1rem .8rem; //d-s
    }
    .banner-content {
        left: 12%;
        top: 33%;
    }
}

.banner4,
.banner5 {
    >figure img {
        min-height: 21rem;
        object-fit: fill;
    }
}

.banner7 {
    .banner-content {
        display: flex;
        position: absolute;
        top: 2.5rem;
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba( 255, 255, 255, .8);
        max-width: calc(400% / 9 + 5px);
        padding: 0 5%;
        .banner-title {
            font-size: 2.25em;
            span {
                font-size: 1.111em;
            }
        }
        .btn {
            font-size: 1em;
        }
    }
    >figure img {
        min-height: 38.1rem;
    }
    .img-grain {
        right: -36%;
        @include mq(md, max) {
            right: -12%;
        }
    }
}

.newsletter-section {
    .banner-content {
        padding: 7.5rem 1.5rem 8rem;
    }
    form {
        min-height: 5.1rem;
        min-width: 59.5rem;
    }
    p {
        max-width: 39rem;
    }
}

footer p,
.footer-bottom .social-links .social-link {
    color: $dim-color;
}

// Sidebar
.sidebar {
    .product-deal {
        border: 1px solid $primary-color;
        padding: 2rem 2rem 0;
        .product-action {
            bottom: 1.1rem;
            visibility: visible;
            opacity: 1;
        }
        .product-countdown-container {
            padding: .8rem 1.6rem .6rem;
        }
        .product-price {
            font-size: 1.625em;
        }
        .old-price {
            font-size: .77em;
        }
        .product-details {
            padding: 2.2rem 0 1.3rem;
        }
    }
    blockquote {
        background-color: #fff7ec;
        padding-bottom: 3.5rem;
    }
    cite {
        font-size: 1.286em;
        span {
            font-size: .667em;
        }
    }
}

.icon-boxes {
    border: 1px solid $border-color-light;
    padding: 0 1.5rem;
    .icon-box {
        padding: 2.7rem 0 2rem;
        justify-content: start;
        &+.icon-box {
            border-top: 1px solid $border-color-light;
        }
    }
    .icon-box-icon {
        margin: 0 2rem .3rem 1.1rem; //d-s
    }
}

.banner6 {
    .banner-title {
        font-size: 2.5em;
    }
    .banner-content {
        top: 4rem;
    }
    .banner-subtitle {
        font-size: .875em;
        padding: .6rem 1rem .2rem;
    }
    p {
        color: rgba( 255, 255, 255, .6);
    }
}

.product-list-sm {
    .product-media {
        margin-right: 1.5rem;
    }
    .product-details {
        flex: 0 0 calc( 100% - 14.4rem);
        max-width: calc( 100% - 14.4rem);
    }
}

.owl-nav-top .owl-nav {
    top: -7rem;
    .owl-prev {
        transform: translate( -40%, 30%);
    }
}

.product-tab-type4 {
    .nav-tabs {
        border-bottom: none;
    }
    .nav-link {
        padding: .7rem 1.74rem;
    }
    .nav-link.active {
        color: $primary-color;
    }
}

@include mq(lg) {
    .col-aside {
        flex: 0 0 34.5rem;
        max-width: 34.5rem;
        &.sticky-sidebar-wrapper {
            margin: 51.5rem 0 5rem;
        }
    }
    .col-main {
        flex: 0 0 calc(100% - 34.5rem);
        max-width: calc(100% - 34.5rem);
    }
}

@include mq(xl) {
    .widget-about p {
        margin-right: 11rem;
    }
    .widget-account {
        padding-left: 7.7rem;
    }
}

@include mq(xl, max) {
    .category-menu .megamenu {
        min-width: 63rem;
    }
}

@include mq(lg, max) {
    .home-page .header-middle {
        padding-bottom: .8rem;
    }
    .banner2 .banner-content {
        bottom: 9.5rem;
    }
    .footer-middle {
        padding-bottom: 5rem;
    }
}

@include mq(md, max) {
    .banner1 .banner-title {
        font-size: 2.15em;
    }
    .banner2 .banner-title {
        color: $white-color;
    }
    .banner3 .banner-title {
        font-size: 3.9em;
    }
    .banner7 .banner-content {
        max-width: calc(100% - 4rem);
    }
    .newsletter-section form {
        min-width: -webkit-fill-available;
    }
    .product-tab-type4>div:first-child {
        flex-direction: column;
    }
}

@include mq(xs, max) {
    .banner {
        font-size: .9em;
    }
}

// Other Pages
.page-wrapper:not(.home-page) .category-dropdown {
    z-index: 1200;
    &::before,
    &::after {
        content: none;
    }
    &:hover .dropdown-box {
        visibility: visible;
    }
    &:not(:hover):not(.show) .dropdown-box {
        visibility: hidden;
    }
    .dropdown-box {
        top: 100% !important;
    }
}