.videoHeader {
    object-fit: cover;
    width: 100vw;
    height: 97vh;
    margin-top: 3vh;
}
.faded{
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.more{
    display: none;
}
.menu .active > a:not(.menu-title):before,
.menu:not(.category-menu) li:hover > a:not(.menu-title):before {
    border-color: transparent !important;
}
.faq-section {
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.faq-section > details > summary {
    font-size: 3rem;
}
.faq-section > details > p {
    margin-top: 2rem;
    font-size: 2rem;
}
.faq-section > details > summary::marker {
    color: #fabf01;
}
#map {
    height: 50vh;
    width: 80vw;
    margin: 10rem auto;
    z-index: 1;
}
.maps-section {
    margin-bottom: 10rem;
}
.best-section {
    height: 100vh;
}
.benefit-section {
    margin-bottom: 10rem;
    height: 90vh;
}
.bold-tastynas {
    font-weight: 800;
    color: #fabf01;
}
.paragraph-about {
    text-indent: 5rem;
}
.bigTitle {
    grid-area: bigTitle;
    padding-top: 5vh;
}
.content {
    margin-top: -5rem;
    grid-area: content;
}
.sub-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5rem;
}
.sub-content > p {
    flex: 1;
}
.sub-content > svg:hover {
    scale: 120%;
    transition: all;
    transition-duration: 100ms;
}
.bigLogoTop {
    grid-area: logoTop;
    height: 25vh;
    width: 90vw;
    object-fit: cover;
}
.our-product-section {
    margin-top: 5rem;
}
.bigLogoSide {
    grid-area: logoSide;
    height: 80vh;
    width: 15vw;
    object-fit: cover;
    object-position: 47%;
}
.col-md-6 .right {
    justify-content: flex-end;
}
.gridder {
    height: 55vw;
    display: grid;
    grid-template-areas:
        "logoSide logoTop"
        "logoSide bigTitle"
        "logoSide content";
    grid-template-columns: 1fr 3fr;
    column-gap: 5rem;
    grid-template-rows: 1fr 0.4fr 3fr;
}

.underline-divider {
    width: 20%;
    border-width: 0.8px;
    margin-top: 5rem;
    margin-bottom: 8rem;
    border-color: #fabf01;
}
.sertifikasi {
    margin-top: 5rem;
    display: grid;
    grid-template-areas:
        "title logoHalal"
        "content logoHalal";
    align-items: center;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 5rem;
    margin-bottom: 5rem;
}
.testimonial blockquote {
    position: relative;
    margin-bottom: 2rem;
}
.testimonial blockquote .testimonial-author-thumbnail img {
    border-radius: 50%;
}
.testimonial-info cite {
    text-transform: uppercase;
    color: #333;
    font-size: 0.875em;
    font-weight: 600;
    font-style: normal;
}
.testimonial-info cite span {
    display: block;
    text-transform: capitalize;
    font-weight: 300;
}
.testimonial > blockquote > p {
    color: #000;
    font-size: 2.5rem;
}
.testimonial-lg blockquote {
    padding: 4.5rem 5rem 5.7rem 5rem;
}
.testimonial-lg blockquote .testimonial-author-thumbnail {
    float: left;
    margin-right: 2rem;
}
.testimonial-lg blockquote .testimonial-title {
    margin-bottom: 15px;
}
.testimonial-lg blockquote .testimonial-info {
    padding: 1.4rem 0;
}
.title-testi {
    font-size: 5rem;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-bottom: 2rem;
}
.post .btn {
    text-transform: capitalize;
    font-weight: 300;
}
.post .post-details > :last-child {
    margin-bottom: 0;
}
.post.post-center {
    text-align: center;
}
.post.post-center .post-meta {
    justify-content: center;
}
.post .post-calendar {
    padding: 1rem 1.4rem 0.6rem 1.5rem;
    color: #fff;
    background-color: #333;
    font-size: 0.875em;
    text-transform: uppercase;
    line-height: 1;
}
.post .post-calendar:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1rem solid #333;
    border-bottom: 3rem solid transparent;
    transform: translateX(100%);
}
.post .post-media {
    position: relative;
}
.post .post-media img {
    display: block;
    width: 100%;
    max-width: 400px;
    max-height: 260px;
    object-fit: cover;
}
.post .post-media .post-calendar {
    position: absolute;
    top: 2rem;
}
.post .post-media.calendar-bottom {
    overflow: visible;
}
.post .post-media.calendar-bottom .post-calendar {
    top: unset;
    bottom: 0;
    z-index: 2;
    transform: translateY(50%);
}
.post-type2 .post-details {
    padding: 5rem 3.5rem 3.5rem;
}
.post-type2 .post-title {
    margin-bottom: 1rem;
}
.post-type2 .post-content {
    margin-bottom: 2.1rem;
}
.post-type2 .btn {
    padding: 1.3rem 2.9rem 1.3rem;
}
.post-border .post-details {
    border: 1px solid #e0dede;
}
.post-border .post-details > * {
    padding-left: 3rem;
    padding-right: 3rem;
}
.post-details {
    padding: 2.3rem 0 2rem;
}
.post-cats {
    margin-bottom: 8px;
    font-size: 0.875em;
    text-transform: capitalize;
}
.post-meta {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
    font-size: 0.875em;
    line-height: 1.2;
    color: #999;
}
.post-meta a:not(.social-link):not(:hover) {
    color: #333;
}
.post-meta .post-agent {
    max-width: 3.1rem;
    margin-right: 1rem;
    border-radius: 100%;
}
.post-meta .post-author {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.post-meta .post-author span {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 3px;
}
.post-meta .post-comments {
    margin-right: 1.6rem;
}
.post-meta .post-comments i {
    vertical-align: middle;
    font-size: 1.357em;
    margin-right: 8px;
}
.post-share {
    position: relative;
}
.post-share .social-links {
    position: absolute;
    bottom: 50%;
    left: -9px;
    padding: 3px;
    font-size: 0.75em;
    background-color: #54524d;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s, bottom 0.3s;
}
.post-share:hover {
    cursor: pointer;
}
.post-share:hover .social-links {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
    visibility: visible;
    opacity: 1;
    bottom: 130%;
}
.post-share > i {
    font-size: 1.1423em;
}
.post-share .social-link:not(:hover) {
    color: #fff;
}
.post-title {
    margin-bottom: 1.1rem;
    line-height: 1.21;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.post-content > a {
    margin-left: 10px;
    color: #0d5135;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
}
.post-content > a:hover {
    border-color: inherit;
}
.post-list {
    margin-bottom: 2rem;
}
.marketplace-icons {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.marketplace-icons > p {
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 3rem;
}
.marketplace-icons .tokopedia {
    height: 20rem;
}
.marketplace-icons .tokopedia:hover,
.marketplace-icons .shopee:hover,
.marketplace-icons .gofood:hover,
.marketplace-icons .grabfood:hover {
    animation: wiggle 0.5s ease-in-out;
}
.marketplace-icons .shopee {
    height: 25rem;
}
.marketplace-icons .gofood {
    height: 10rem;
    width: 30rem;
}
.marketplace-icons .grabfood {
    height: 20rem;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: rgba(254, 253, 255, 0.6) !important;
}
.contact-section {
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.form-contact > .title-contact {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
    text-align: center;
}
.form-contact > form > .input-nama {
    width: 50vw;
    margin: 10px auto;
    border: none;
    border-bottom: 1px solid #fabf01;
}
.form-contact > form > input[type="text"]:disabled {
    background-color: rgb(219, 219, 219);
}
.form-contact > form > .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.form-contact > form > .wrapper-checkbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.form-contact > form > .button > button {
    background-color: #25d366;
    color: #fefdff;
    font-size: 3rem;
    width: 50vw;
}
@media (min-width: 576px) {
    .post-list {
        display: flex;
        align-items: center;
    }
    .post-list .post-details {
        padding: 0.5rem 0 0.5rem 3rem;
        width: calc(100% - 50%);
    }
    .post-list .post-media {
        width: 50%;
    }
}
.post-list-sm {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.post-list-sm .post-media {
    max-width: 9rem;
    flex: 0 0 9rem;
    height: 9rem;
}
.post-list-sm .post-media img {
    height: 100%;
    object-fit: cover;
}
.post-list-sm .post-details {
    padding: 0;
    margin-left: 1.6rem;
}
.post-list-sm .post-meta {
    margin-bottom: 1rem;
}
.post-list-sm .post-meta a {
    font-size: 0.857em;
    color: #54524d;
}
.post-outer .post-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-outer .post-details {
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100% - 60px);
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-24%);
}
.post-classic {
    margin-bottom: 8.1rem;
}
.post-classic .post-details {
    position: relative;
    padding: 4.9rem 8.5rem 5rem;
}
.post-classic .post-meta a:not(:first-child) {
    margin-left: 0.5rem;
}
.post-classic .post-cats {
    margin-bottom: 1.6rem;
}
.post-classic .post-title {
    margin-bottom: 1.6rem;
    white-space: normal;
    font-size: 1.75em;
}
.post-classic .post-content {
    margin-bottom: 3.1rem;
}
.post-classic .post-calendar {
    position: absolute;
    top: 0;
    left: -1px;
    transform: translateY(-50%);
    font-size: 1em;
    padding: 1.2rem 2rem;
}
.post-classic .post-calendar:after {
    border-left-width: 1.4rem;
    border-bottom-width: 4rem;
}
.post-classic .btn {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    padding: 1.3rem 2.9rem 1rem;
}
.post-classic.post-classic-sm {
    margin-bottom: 0;
}
.post-classic.post-classic-sm .post-details {
    padding: 4.7rem 2.5rem 4.2rem;
}
.post-classic.post-classic-sm .post-title {
    font-size: 1.5em;
    margin-bottom: 0.8rem;
}
.post-classic.post-classic-sm .post-content {
    line-height: 1.5em;
    margin-bottom: 2.2rem;
}
.post-classic.post-classic-sm .post-calendar {
    font-size: 0.875em;
    padding: 1rem 1.4rem 0.6rem 1.5rem;
}
.post-classic.post-classic-sm .post-calendar:after {
    border-left-width: 1rem;
    border-bottom-width: 3rem;
}
@media (max-width: 575px) {
    .testimonial-lg blockquote {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
.testimonial-md .testimonial-author-thumbnail {
    position: absolute;
    top: -50px;
}
.testimonial-md .testimonial-author-thumbnail:after {
    position: absolute;
    content: "ï„";
    font-family: "Font Awesome 5 Free";
    font-size: 1.25em;
    font-weight: 600;
    bottom: -0.3rem;
    right: -1.2rem;
    width: 4rem;
    border-radius: 50%;
    color: #fff;
    background-color: #0d5135;
    line-height: 4rem;
    text-align: center;
}
.testimonial-md blockquote {
    margin-top: 5.1rem;
    padding: 2.8rem 2.7rem 2.5rem 2.9rem;
}
.testimonial-md .ratings-container {
    padding-left: 130px;
    margin-bottom: 3.9rem;
}

.benefit-section {
    position: relative;
    overflow: hidden;
}
.benefit-section .img-back {
    position: absolute;
    top: 16.2%;
    left: 24.4%;
    width: 64.9rem;
}
.icon-box-title {
    color: #000;
}
.benefit-section .icon-box p {
    color: #666;
    font-size: 1em;
}
.logoHalal {
    width: 20rem;
    grid-area: logoHalal;
}
.logoHalal:hover {
    scale: 120%;
    transition: all 100ms;
}
.sertifikasi > ul {
    grid-area: content;
}
.sertifikasi > h2 {
    grid-area: title;
    text-align: left;
}
.sertifikasi > ul > li > a {
    text-decoration: underline;
}
.pine-section {
    width: 100vw;
    height: 40vh;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.3),
            rgba(250, 191, 1, 0.3)
        ),
        url(../images/bigPineapple.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pine-section > p {
    color: #fefdff;
    font-size: 5rem;
}
.pine-section > p > q {
    font-weight: 700;
}
.md-type2 .testimonial-author-thumbnail {
    top: -78px;
}
.testimonial-sm {
    border: 1px solid #e0dede;
    padding: 2rem;
}
.testimonial-sm .testimonial-author-thumbnail {
    float: left;
    padding-right: 3rem;
}
.testimonial-sm .testimonial-info {
    padding-bottom: 7px;
}
.testimonial-sm blockquote {
    margin: 0;
}
.testimonial-sm blockquote > p {
    padding-top: 7px;
}
.our-banner {
    background: linear-gradient(
            0deg,
            rgba(185, 207, 62, 0.579),
            rgba(0, 0, 0, 0.5)
        ),
        url(../images/grab-goodibag.JPG);
    height: 60vh;
    background-attachment: fixed;
}
.mid-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mid-title > .title-our {
    font-size: 7rem;
    text-align: center;
    margin-top: 15rem;
    color: #fefdff;
    font-weight: 600;
}
.mid-title > .subtitle-our {
    color: #fefdff;
    font-size: 2rem;
}
@media (min-width: 576px) {
    .testimonial-sm cite {
        display: flex;
    }
    .testimonial-sm .testimonial-info span {
        margin: 0 0 0 18px;
    }
}
@media (max-width: 575px) {
    .testimonial-sm blockquote {
        text-align: center;
    }
    .testimonial-sm .testimonial-author-thumbnail {
        float: unset;
        max-width: 100px;
        margin: 0 auto;
    }
}
.testimonial-centered {
    padding: 2rem 2rem 0.8rem;
    background-color: transparent;
    text-align: center;
}
.testimonial-centered .testimonial-author-thumbnail {
    margin: 0 auto 3.5rem;
    width: 12rem;
    height: 12rem;
}
.testimonial-centered blockquote {
    margin-left: auto;
    margin-right: auto;
    max-width: 94.2rem;
}
@media screen and (max-width: 767px) {
    .bigLogoSide {
        width: 80vw;
        height: 15vh;
        margin: auto;
    }
    .bigLogoTop {
        margin: auto;
    }
    .form-contact > form > .button > button {
        background-color: #25d366;
        color: #fefdff;
        font-size: 2rem;
        width: 50vw;
        padding: 1rem;
    }
    .icon-box-num .icon-box-icon {
        margin-right: 0;
    }
    .pine-section > p {
        color: #fefdff;
        font-size: 2rem;
    }
    .gridder {
        grid-template-areas:
            "logoTop logoTop"
            "bigTitle bigTitle"
            "content content"
            "logoSide logoSide";
    }
    .sub-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        text-align: center;
        margin: 5rem auto;
    }
    .content > p {
        text-align: center;
    }
    .bigTitle > h2 {
        text-align: center;
        justify-content: center;
    }
    .best-section {
        min-height: 240vh;
        margin-bottom: 10rem;
    }
    .benefit-section {
        height: 150vh;
    }
    .sertifikasi {
        grid-template-areas:
            "title title"
            "logoHalal logoHalal"
            "content content";
        place-items: center;
        grid-template-columns: auto;
    }
    .sertifikasi > h2 {
        text-align: center !important;
    }
    .marketplace-icons {
        flex-direction: column;
    }
    .marketplace-icons > p {
        display: none;
    }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
    .best-section {
        height: 370vh;
    }
    .benefit-section .img-back {
        top: 20%;
    }
    .benefit-section {
        height: 300vh;
    }
    .pine-section {
        height: 60vh;
    }
    .post .post-media img {
        margin: auto;
    }
    .widget {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 991px) {
    .benefit-section .img-back {
        opacity: 0.4;
    }
    .icon-box-num .icon-box-icon {
        margin-right: 0;
    }
    .icon-box-side {
        flex-direction: column;
    }
    .icon-box-side .icon-box-icon {
        margin: 0 0 2rem 0;
    }
    .icon-box-side .icon-box-content {
        text-align: center;
    }
    .pos-right .icon-box-num .icon-box-content {
        text-align: right;
    }
    .pos-right .icon-box-num .icon-box-icon {
        margin: 0;
    }
    .sertifikasi {
        place-items: center;
    }
    .pine-section > p {
        color: #fefdff;
        font-size: 3rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .bigLogoSide {
        width: 80vw;
        height: 15vh;
        margin: auto;
    }
    .bigLogoTop {
        margin: auto;
    }
    .gridder {
        grid-template-areas:
            "logoTop logoTop"
            "bigTitle bigTitle"
            "content content"
            "logoSide logoSide";
    }
    .sub-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        text-align: center;
        margin: 5rem auto;
    }
    .content > p {
        text-align: center;
    }
    .bigTitle > h2 {
        text-align: center;
        justify-content: center;
    }
    .best-section {
        height: 150vh;
    }
}
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
