.videoHeader {
    object-fit: cover;
    width: 100vw;
    height: 97vh;
    margin-top: 3vh;
}

.best-section {
    height: 100vh;
}

.bold-tastynas {
    font-weight: 800;
    color: #fabf01;
}

.paragraph-about {
    text-indent: 5rem;
}
.bigTitle {
    grid-area: bigTitle;
    padding-top: 5vh;
}
.content {
    margin-top: -5rem;
    grid-area: content;
}
.sub-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5rem;
}
.sub-content > p {
    flex: 1;
}
.sub-content > svg:hover {
    scale: 120%;
    transition: all;
    transition-duration: 100ms;
}
.bigLogoTop {
    grid-area: logoTop;
    height: 25vh;
    width: 90vw;
    object-fit: cover;
}
.bigLogoSide {
    grid-area: logoSide;
    height: 80vh;
    width: 15vw;
    object-fit: cover;
}

.gridder {
    height: 55vw;
    display: grid;
    grid-template-areas:
        "logoSide logoTop"
        "logoSide bigTitle"
        "logoSide content";
    grid-template-columns: 1fr 3fr;
    column-gap: 5rem;
    grid-template-rows: 1fr 0.4fr 3fr;
}

.sertifikasi {
    margin-top: 5rem;
    display: grid;
    grid-template-areas:
        "title logoHalal"
        "content logoHalal";
    align-items: center;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 5rem;
}
.logoHalal {
    width: 20rem;
    grid-area: logoHalal;
}
.logoHalal:hover {
    scale: 120%;
    transition: all 100ms;
}
.sertifikasi > ul {
    grid-area: content;
}
.sertifikasi > h2 {
    grid-area: title;
}
.sertifikasi > ul > li > a {
    text-decoration: underline;
}
@media screen and (max-width: 320px) {
    .best-section {
        height: 350vh;
    }
}
@media screen and (max-width: 767px) {
    .bigLogoSide {
        width: 80vw;
        height: 15vh;
        margin: auto;
    }
    .bigLogoTop {
        margin: auto;
    }
    .gridder {
        grid-template-areas:
            "logoTop logoTop"
            "bigTitle bigTitle"
            "content content"
            "logoSide logoSide";
    }
    .sub-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        text-align: center;
        margin: 5rem auto;
    }
    .content > p {
        text-align: center;
    }
    .bigTitle > h2 {
        text-align: center;
        justify-content: center;
    }
    .best-section {
        min-height: 240vh;
    }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
    .best-section {
        height: 300vh;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .bigLogoSide {
        width: 80vw;
        height: 15vh;
        margin: auto;
    }
    .bigLogoTop {
        margin: auto;
    }
    .gridder {
        grid-template-areas:
            "logoTop logoTop"
            "bigTitle bigTitle"
            "content content"
            "logoSide logoSide";
    }
    .sub-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        text-align: center;
        margin: 5rem auto;
    }
    .content > p {
        text-align: center;
    }
    .bigTitle > h2 {
        text-align: center;
        justify-content: center;
    }
    .best-section {
        height: 150vh;
    }
}
