.videoHeader {
    object-fit: cover;
    width: 100vw;
    height: 97vh;
    margin-top: 3vh;
}

.best-section {
    height: 100vh;
}
.benefit-section {
    margin-bottom: 10rem;
    height: 90vh;
}
.bold-tastynas {
    font-weight: 800;
    color: #fabf01;
}
.paragraph-about {
    text-indent: 5rem;
}
.bigTitle {
    grid-area: bigTitle;
    padding-top: 5vh;
}
.content {
    margin-top: -5rem;
    grid-area: content;
}
.sub-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5rem;
}
.sub-content > p {
    flex: 1;
}
.sub-content > svg:hover {
    scale: 120%;
    transition: all;
    transition-duration: 100ms;
}
.bigLogoTop {
    grid-area: logoTop;
    height: 25vh;
    width: 90vw;
    object-fit: cover;
}
.our-product-section {
    margin-top: 5rem;
}
.bigLogoSide {
    grid-area: logoSide;
    height: 80vh;
    width: 15vw;
    object-fit: cover;
}

.gridder {
    height: 55vw;
    display: grid;
    grid-template-areas:
        "logoSide logoTop"
        "logoSide bigTitle"
        "logoSide content";
    grid-template-columns: 1fr 3fr;
    column-gap: 5rem;
    grid-template-rows: 1fr 0.4fr 3fr;
}

.underline-divider {
    width: 20%;
    border-width: 0.8px;
    margin-top: 5rem;
    margin-bottom: 8rem;
    border-color: #fabf01;
}
.sertifikasi {
    margin-top: 5rem;
    display: grid;
    grid-template-areas:
        "title logoHalal"
        "content logoHalal";
    align-items: center;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 5rem;
    margin-bottom: 5rem;
}
.benefit-section {
    position: relative;
    overflow: hidden;
}
.benefit-section .img-back {
    position: absolute;
    top: 16.2%;
    left: 24.4%;
    width: 64.9rem;
}
.icon-box-title {
    color: #000;
}
.benefit-section .icon-box p {
    color: #666;
    font-size: 1em;
}
.logoHalal {
    width: 20rem;
    grid-area: logoHalal;
}
.logoHalal:hover {
    scale: 120%;
    transition: all 100ms;
}
.sertifikasi > ul {
    grid-area: content;
}
.sertifikasi > h2 {
    grid-area: title;
    text-align: left;
}
.sertifikasi > ul > li > a {
    text-decoration: underline;
}
.pine-section {
    width: 100vw;
    height: 40vh;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.3),
            rgba(250, 191, 1, 0.3)
        ),
        url(../images/bigPineapple.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pine-section > p {
    color: #fefdff;
    font-size: 5rem;
}
.pine-section > p > q {
    font-weight: 700;
}
@media screen and (max-width: 767px) {
    .bigLogoSide {
        width: 80vw;
        height: 15vh;
        margin: auto;
    }
    .bigLogoTop {
        margin: auto;
    }
    .icon-box-num .icon-box-icon {
        margin-right: 0;
    }
    .pine-section > p {
        color: #fefdff;
        font-size: 2rem;
    }
    .gridder {
        grid-template-areas:
            "logoTop logoTop"
            "bigTitle bigTitle"
            "content content"
            "logoSide logoSide";
    }
    .sub-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        text-align: center;
        margin: 5rem auto;
    }
    .content > p {
        text-align: center;
    }
    .bigTitle > h2 {
        text-align: center;
        justify-content: center;
    }
    .best-section {
        min-height: 240vh;
        margin-bottom: 10rem;
    }
    .benefit-section {
        height: 150vh;
    }
    .sertifikasi {
        grid-template-areas:
            "title title"
            "logoHalal logoHalal"
            "content content";
        place-items: center;
        grid-template-columns: auto;
    }
    .sertifikasi > h2 {
        text-align: center !important;
    }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
    .best-section {
        height: 300vh;
    }
    .benefit-section .img-back {
        top: 60%;
    }
}
@media (max-width: 991px) {
    .benefit-section .img-back {
        opacity: 0.4;
    }
    .icon-box-num .icon-box-icon {
        margin-right: 0;
    }
    .icon-box-side {
        flex-direction: column;
    }
    .icon-box-side .icon-box-icon {
        margin: 0 0 2rem 0;
    }
    .icon-box-side .icon-box-content {
        text-align: center;
    }
    .pos-right .icon-box-num .icon-box-content {
        text-align: right;
    }
    .pos-right .icon-box-num .icon-box-icon {
        margin: 0;
    }
    .sertifikasi {
        place-items: center;
    }
    .pine-section > p {
        color: #fefdff;
        font-size: 3rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .bigLogoSide {
        width: 80vw;
        height: 15vh;
        margin: auto;
    }
    .bigLogoTop {
        margin: auto;
    }
    .gridder {
        grid-template-areas:
            "logoTop logoTop"
            "bigTitle bigTitle"
            "content content"
            "logoSide logoSide";
    }
    .sub-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        text-align: center;
        margin: 5rem auto;
    }
    .content > p {
        text-align: center;
    }
    .bigTitle > h2 {
        text-align: center;
        justify-content: center;
    }
    .best-section {
        height: 150vh;
    }
}
