.about-page {
    section {
        padding: 9rem 0;
    }
    .desc-title {
        font-size: 2.75em;
        line-height: 1.2;
        @include mq('md', max) {
            font-size: 2.25em;
        }
    }
    .counter-divider::before {
        height: 54%;
        top: 49%;
    }
    cite {
        font-size: 1.125em;
        span {
            font-size: .889em;
        }
    }
    .owl-nav-box {
        .owl-prev {
            left: -4.7%;
            background-color: #fff;
        }
        .owl-next {
            right: -4.7%;
            background-color: #fff;
        }
    }
    .list-circle i {
        color: $grey-color;
    }
}