.contact-page {
    .icon-box-icon {
        font-size: 3em;
    }
    .icon-box-title {
        font-size: 1.375em;
    }
    input, textarea {
        padding: 1em 1.429em;
    }
    textarea {
        min-height: 19rem;
    }
}