/***************************************
        floating
***************************************/

//floating set
.floating-set {
    .bg-float1 {
        padding: 89px 0 88px;
        background-color: #F6F2EF;
    }
    .bg-float2 {
        padding: 76px 0 75px;
        background-color: #EEF5EE;
    }
    .floating-content {
        margin: 31px 0 26px 0;
    }
}