/* Demo Main Content */

// intro
.intro-banner {
    position: relative;
    overflow: hidden;
    > figure img {
        min-height: 107rem;
        object-fit: cover;
        width: 100%;
    }
    .banner-content {
        position: absolute;
        top: 22.1%;
        width: 100%;
        padding: 0 1rem;
    }
    .logo {
        margin: .1rem 0 3rem .5rem;
    }
    p {
        max-width: 68rem;
        margin: 1rem auto 4rem;
    }
    .back-text {
        white-space: nowrap;
        font-size: 11.25em;
        color: #2d2d2c;
        margin: 6.8rem 1.5rem 0 0;
    }
}
// button
.btn {
    display: inline-block;
    background-color: $primary-color;
    color: $white-color;
    outline: 0;
    padding: 1.4em 2.83em 1.1em;
    font: {
        size: .875em;
        weight: 400;
    }
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    transition: color .3s, background-color .3s, box-shadow .3s;
    white-space: nowrap;

    &:hover,
    &:active,
    &:focus {
        color: $white-color;
        background-color: darken( $primary-color , 7% );  
    }
}
[class|=back-img] {
    position: absolute;
    z-index: -1;
}
// demo list
.demos-section {
    position: relative;
    margin-top: -14.85vw;
    .back-img-1 {
        left: -3rem;
        bottom: 44rem;
    }
    .back-img-2 {
        right: 4.7rem;
        bottom: 15.6%;
    }
}
.portfolio-item {
    margin-bottom: 7.2rem;
    img {
        box-shadow: 11px 40px 70px 1px rgb(0 0 0 / 10%);
        transition: box-shadow .3s, transform .3s;
    }
    h3 {
        text-transform: uppercase;
        font-weight: 400;
        color: $dim-color;
        margin-top: 3.5rem;
    }
    &:hover img {
        box-shadow: 11px 40px 70px 1px rgb(0 0 0 / 15%);
        transform: translateY(-2rem);
    }
}
// icon box
.feature-section {
    margin-top: 4rem;
    .icon-box {
        margin-bottom: 7.4rem;
        .icon-box-icon {
            margin-bottom: 1rem;
        }
        svg {
            stroke: #ae9b6a;
            fill: #ae9b6a;
            stroke-dashoffset: 1500;
            stroke-dasharray: 1500;
            transition: transform .3s;
        }
        .icon-box-title {
            font-size: 1.375em;
            margin-bottom: .8rem;
        }
        &:after {
            content: '';
            display: block;
            width: 5rem;
            height: 1px;
            background: #ae9b6a;
            margin: 1.9rem auto 0;
        }
        &:hover svg {
            transform: scale(1.2);
            stroke-dashoffset: 0;
            fill: transparent;
            transition: transform .3s, fill 0.5s, stroke-dashoffset 6s;
        }
    }
}
// pages
.pages-section {
    position: relative;
    margin-top: 3.9rem;
    p {
        max-width: 68rem;
        margin: .8rem auto 5.1rem;
    }
    .back-img-1 {
        right: -1.2rem;
        top: -14.5rem;
    }
}
// testimonial
.testimonial-section {
    min-height: 42rem;
    background: #282828;
    padding: 11rem 0;
    .testimonial {
        display: flex;
        align-items: center;
        margin-top: 3.5rem;
    }
    .testimonial-media {
        padding-left: .5rem;
        img {
            border-radius: 50%;
        }
    }
    .testimonial-content {
        padding-left: 3rem;
    }
    p {
        font-size: 1.125em;
        max-width: 110rem;
        margin-bottom: 1.7rem;
    }
    h3 {
        font-size: 1em;
        opacity: .3;
    }
    .back-img {
        right: 19rem;
        top: 1.7rem;
    }
}
// rating
.rating-section {
    position: relative;
    min-height: 30rem;
    padding: 8.5rem 1rem;
    .rating-content {
        position: relative;
    }
    h2 {
        font-size: 3.75em;
        margin-bottom: .8rem;
    }
    span {
        font-size: 1.125em;
    }    
    .stars {
        display: inline-block;
        padding: 0 1.2rem;
    }
    .back-stars {
        position: absolute;
        display: inline-block;
        width: 100%;
        top: 23%;
        transform: translate(-50%);
        svg {
            margin: 0 1.6rem;
        }
    }
}
// icon-dark
.icon-box-dark {
    background: $primary-color-dark;
    border: 1px solid $border-color;
    padding: 6rem 0;
    width: 100%;
    transition: background .3s;
    .icon-box-icon {
        margin-bottom: 2rem;
    }
    .icon-box-title {
        font-size: 1.125em;
        padding: 0 1rem;
    }
    svg {
        fill: #7a7a7a;
        transition: fill .3s;
    }
    &:hover {
        svg {
            fill: #fff;
        }
        background: $primary-color;
    }
}
.extra-links {
    > a {
        display: flex;
    }
    > a:not(:last-child) .icon-box-dark {
        border-right-width: 0;
    }
}
/* Footer */
.footer-middle {
    text-align: center;
    background: $primary-color-dark;
    padding: 11.5rem 0;
    .footer-title {
        font-size: 3.125em;
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 3rem;
    }
}
// Responsive
@media (max-width: 1200px) {
    .intro-banner img {
        object-position: 0%;
    }
}
@media (max-width: 991px) {
    .testimonial-section {
        .testimonial {
            flex-direction: column;
        }
        .testimonial-media {
            margin-bottom: 1rem;
        }
        .testimonial-content {
            padding: 0;
        }
        .back-img {
            top: 12.7rem;
        }
    }
    .extra-links > a:nth-child(even) .icon-box-dark {
        border-right-width: 1px;
    } 
}
@media (max-width: 575px) {
    .extra-links > a:nth-child(odd) .icon-box-dark {
        border-right-width: 1px;
    }
}