/* Demo 1
*/

@include set (
	(
        base: (
            title: (
                font-size: 3.125em,
            )
        ),
		header: (
            middle: (
                background: transparent,
                center: (
                    margin: 0 2rem,
                ),
            ),
            main-nav: (
                margin: .3rem 1.5rem 0,
            ),
        ),
        footer: (
            font-size: 1em,
            middle: (
                padding: 17.3rem 0 8rem,
                border-bottom: 1px solid rgba(119,119,119,.3),
            ),
            bottom: (
                padding: 2.6rem 0 2.2rem,
            ),
            newsletter: (
                title: (
                    font-size: 1.875em,
                    font-weight: 300,
                    margin: 1.2rem 0,
                ),
                desc: (
                    max-width: 55rem,
                    margin: 0 auto,
                    color: $body-color,
                ),
                form: (
                    margin: 4rem auto 5rem,
                    max-width: 61rem,
                    height: 5.1rem,
                    input: (
                        height: 5.1rem,
                        padding: 0 0 0 2.1rem,
                        color: $body-color,
                        border: 0,
                        background: rgba(255, 255, 255, .06),
                    ),
                ),
                btn: (
                    padding: 1rem 3.9rem .5rem, //d-s
                ),
            ),
            copyright: (
                color: $body-color,
            )
        ),
        menu: (
            ancestor: (
                _gap: 2.9rem,
            ),
        ),
        accordion: (
            header: (
                text-transform: uppercase,
                _padding: 3rem 0 2.5rem,
            )
        )
    )
);