/***********************************
            Demo 5
***********************************/
.header .divider {
    margin: 0 29px 0 32px;
    opacity: 0.15;
}
.has-center {
    .header-center {
        margin: 0 0 0 1.6rem;
        display: flex;
        @include mq(xxl, max) {
            margin-left: 0;
        }    
    }
    @include mq( '1310px', max) {
        .header-left {
            display: none;
        }
        .header-center .mobile-menu-toggle {
            display: block;
        }
    }
}
.sticky-header.fixed {
    border: none;
}
.intro-slide {
    background-color: #333;
    .banner{
        height: 100vh;
        background-color: $dark-color;
        @include mq(lg , max) {
            height: 82vh;
        }
        .banner-descri { 
            font-size: 2.4rem;
            color: #aaa;
        }
        .desc-line {
            display: inline-block;
            position: relative;
            content: "";
            width: 6rem;
            top: -8px;
            margin-right: 1.5rem;
            border-bottom: 1px solid $primary-color;
        }
   }
}
.intro-slider1 {
    @include mq(xxl , max) {
        font-size: .7em;
    }
    @include mq('1087px' , max) {
        font-size: .5em;
    }
    @include mq(md , max) {
        font-size: .37em;
    }
    @include mq(sm , max) {
        font-size: .25em;
    }
    p {
        font-size: 1.6rem;
        color: #aaa;
        span {
            font-size: 1.5em;
        }
    }
    .banner-content {
        bottom: 34%;
    }
    .floating-template {
        top: 28%;
        img {
            min-width: 300px;
        }
    }
    @include mq('1087px', max) {
        .banner-content {
            bottom: 25%;
        }
        .floating-template {
            top: 25%;
        }
    }
    .banner-subtitle {
        white-space: nowrap;
        font-size: 10em;
    }
    .banner-title {
        font-size: 17.5em;
        color: #3a3a3a;
        letter-spacing: .1em;
        bottom: 7.1%;
    }
    @include mq('496px' , max) {
        .banner-title {
            font-size: 14.375em;
            bottom: 14.1%;
        }
        .banner-descri {
            left: 26%;
        }
    }
}
.intro-slider2 {
    img {
        object-fit: cover;
    }
    .duration {
        animation-duration: 15s;
    }
    .banner-content {
        display: inline-block;
        padding-top: 7.3%;
        left: 2.5%;
    }
    .banner-title {
        font-size: 5em;
        span {
            font-weight: 200;
        }
        .title-content {
            padding: 0 6.8rem 0 4%;
        }
    }
    .btn:hover {
        background-color: #444;
        border-color: #444;
    }
    @include mq(sm , max) {
        .banner-content .banner-descri {
            font-size: 1.9rem;
        }
        .banner-title {
            font-size: 3.5em;
        }
    }
}
@include mq(lg) {
    .sticky-sidebar-wrapper {
        padding: 3rem 3rem 2rem 4.3rem;
        max-width: 323px;
        flex: 0 0 323px;
        border-right: 1px solid $border-color;
    }
    .best-product {
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: calc( 100% - 323px );
        flex: 0 0 calc( 100% - 323px );
    }
}
.widget-collapsible .toggle-btn {
    width: 3rem;
    height: 3rem;
    text-align: center;
    &:before {
        line-height: 3rem;
    }
}
.main .widget:hover .widget-title {
    color: $primary-color
}
.best-product {
    padding-top: 6.8rem;
    padding-bottom: 9rem;
}
.sidebar-title {
    font-size: 1.125em;
    font-weight: 400;
}
//category custom
.category {
    text-align: center;
    margin-bottom: 2rem;
    .category-name {
        font-weight: 300;
        color: $dim-color;
        text-transform: capitalize;
    }
    &:hover .category-name {
        color: $primary-color;
    }
    .category-content {
        padding: .5rem 0 0;
    }
    > a {
        display: block;
        min-height: 200px;
        @include mq('370px' , max) {
            min-height: 180px;
        }
    }
}
.category-section h2 {
    font-size: 3.4rem;
}
.recommend-section {
    .btn-link {
        font-weight: 300;
        font-size: .5334em;
        &:hover {
            color: $primary-color;
        }
    }
}
//footer
@include mq(xl) {
    .col-xls-2 {
        width: 18.8%;
    }
    .col-xls-3 {
        width: 18.6%;
    }
}
.footer-middle {
    .widget-about p {
        max-width: 30rem;
    }
    .widget-newsletter form {
        border-color: #393939;
        margin-left: 0;
        .btn {
            right: 0;
        }
    }
} 