/*
Demo 6
*/

@include set (
	(
		base: (
            subtitle: (
                letter-spacing: .2em,
                color: $secondary-color,
                margin-bottom: 1.9rem,
            ),
            _container-fluid-width: none,
        ),
        menu: (
        	ancestor: (
        		padding: 1.2rem 0,
        		font-weight: 300,
				text-transform: capitalize,
				_active-color: $primary-color
        	),
        	submenu: (
				padding: 0.7rem 0,
				font-size: 1em
        	)
        ),
        header: (
        	top: (
        		padding-top: 7px,
        		padding-bottom: 6px,
        		background-color: #f5f5f5,
				border-bottom: none,
				color: $primary-color-dark
        	),
        	middle: (
				padding-top: 2.7rem,
				border-bottom: 1px solid $border-color,
	        	login: (
	        		icon: (
	        			font-size: 2.1rem
	        		)
	        	)
	        ),
        	search: (
        		expanded: (
        			width: 1120px
        		)
        	),
        	wishlist: (
        		icon: (
        			font-size: 2.1rem
        		)
        	),
        	call: (
        		label: (
        			font-size: 1.2rem,
        			font-weight: 300,
        			text-transform: none,
        			line-height: 1.4
        		),
        		icon: (
        			font-size: 2.7rem
        		)
			),
			cart: (
				icon: (
					font-size: 1.5em
				)
			)
        ),
        footer: (
			middle: (
				padding: 10.5rem 0 9.5rem
			),
        	bottom: (
        		padding: 2.4rem 0 2.3rem
			 ),
			 newsletter: (
				 title: (
					color: $lighter-color,
					font-size: false
				 ),
				 form: (
					 input: (
						 background-color: #393939,
						 font-size: false,
						 padding: false
					 )					 
				 ),
				 btn: (
					 color: $white-color
				 ),
				 desc: (
					 margin-bottom: false
				 )
			 )
        )
    )
);