/* Demo6 */
// Base
@include mq(xxl) {
    .container-fluid {
        padding: 0 40px;
    }
    .mb-xxl-10 {
        margin-bottom: 3rem !important;
    }   
}
@include mq(xl) {
    .custom-col-xl {
        max-width: 20.8333%;
        flex: 0 0 20.8333%;
    }
}
sup {
    font-size: .5em;
}
.banner img {
    min-height: 27rem;
    object-fit: cover;
}

// Sidebar
.main-sidebar {
    background: #fff;
    .title {
        font-size: 1.375em;
    }
    .menu > li > a:before {
        content: none;
    }
    .menu .toggle-btn {
        margin-right: -5px;
    }
    li a:hover {
        color: $primary-color
    }
}

.toggle-btn::before {
    font-size: .825em;
}
.show .toggle-btn {
    transform: translateY(-50%) rotate(-90deg);
}

// Header
.header {
    .order i {
        font-size: 2em;
    }
    .call .number {
        font-size: 1.167em;
    }
}

.header-search .select-box {
    display: flex;
    align-items: center;
    &:before {
        right: 24px;
    }
    &:after {
        content: '';
        display: block;
        height: 24px;
        vertical-align: middle;
        border-right: 1px solid $border-color;
    }
}
.form-simple .btn {
    right: 0
}
// Main
.submenu >a::after {
    display: none;
}

// Intro Section
.intro-section img {
    object-fit: cover;
}
.height-x2 img {
    min-height: 56rem;
}
.height-x1 img {
    min-height: 27rem;
}
.intro-slider {
    .banner-title {
        font-size: 2.875em;
    }
    .owl-dots-container {
        bottom: 4.5%;
    }
}
.intro-slide1 {
    .banner-content {
        left: 7.8%;
        max-width: 40rem;
    }
    .banner-desc span {
        font-size: 1.91em;
    }
}
.intro-slide2 .banner-content {
    right: 6.25%;
    max-width: 30rem;
}
.intro-banner1,
.intro-banner2 {
    .banner-content {
        left: 8%;
        top: 14.8%;
    }
    .banner-subtitle span {
        font-size: 1.67em;
    }
}
// Products Section
.products-section {
    .banner {
        min-height: 25rem;
    }
    .banner-content {
        left: 10.8%;
        right: 10.8%;
        top: 9%;
        @include mq(md, max) {
            top: 20%;
        }
    }
    .banner-title {
        font-size: 2em;
    }
    .banner-desc span {
        font-size: 1.875em; 
    }
    .product-details {
        padding-bottom: 0;
    }
    .owl-nav {
        top: -8rem;
        i {
            font-size: 2.2rem;
        }
    }
}
// Banners Section
.banner1,
.banner3 {
    .banner-content {
        left: 8%;
        top: 14.8%;
    }
    .banner-title {
        font-size: 2em;
    }
    .banner-subtitle span {
        font-size: 1.55em;
    }
}

.banner2 {
    .banner-subtitle {
        font-size: 1.375em;
    }
    .banner-title {
        font-size: 2.125em;
    }
}

.banner4,
.banner5 {
    .banner-title {
        font-size: 2em;
        line-height: 1.25;
    }
    .banner-content {
        left: 6.5%;
        top: 16.67%;
        max-width: 32rem;
    }
}

.banner6 {
    padding: 4rem;
    @include mq(xxl) {
        padding: 8.3rem 8rem 7.4rem;
    }
    @include mq(md, max) {
        background-position: 20%;
    }
    .banner-title {
        font-size: 2.375em;
        line-height: 1.31
    }
    .banner-price {
        font-size: 1.25em;
        span {
            font-size: 1.8em;
        }
    }
    .banner-content1 {
        max-width: 45rem;
    }
    .banner-content2 {
        max-width: 42rem;
    }
}
.blog-section h2 a {
    font-size: .467em;
}
.post .post-media .post-calendar {
    top: 3rem;
}
// Footer
.footer {
    .widget-newsletter form {
        max-width: inherit;
    }
    @include mq(sm, max) {
        .footer-middle {
            padding: 7rem 0 4rem;
        }
    }
    form .btn {
        font-size: 1em;
        @include mq(lg, max) {
            padding: 1.25em 1em .95em;
        }
    }
    .social-links {
        color: $grey-color;
    }
}

// Responsive
@include mq(lg) {
    .with-sidebar {
        display: flex;
        .main-sidebar {
            position: relative;
            padding: 75px 30px 30px;
            max-width: 300px;
            flex: 0 0 300px;
            box-shadow: 5px 0 15px 0 rgb(0 0 0 / 5%);
            z-index: 1;
        }
        .page-content {
            flex: 1;
            max-width: calc(100% - 300px);
            z-index: 0;
        }
    }
    .sticky-header.fixed {
        margin-left: 30rem;
        max-width: calc(100% - 30rem);
    }
    // Single Product Page
    .product-navigation .product-nav-prev {
        left: 300px;
    }
}
@include mq(md, max) {
    .height-x2 img {
        min-height: 48rem;
    }
    .height-x1 img {
        min-height: 23rem;
    }   
}